@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<input type="hidden" id="sequenceId" value=""/>
<div class="content mt-3">
    <div class="container ">
        <div class="row">
            <table id="list"></table>
            <div class="form-group col-6">
                <label for="enteredGrammar">Enter gramma:</label>
                <textarea class="form-control" rows="5" id="enteredGrammar"></textarea>
                <button id="grammarEnteredButton" type="button" class="btn btn-dark mt-2" data-toggle="modal" data-target="#error">Process</button>
            </div>
            <div class="col-6">
                <div>
                    <label>Examples:</label>
                </div>
                <button type="button" class="btn btn-dark mt-2" data-toggle="modal" data-target="#example1">Example 1</button>
                <button type="button" class="btn btn-dark mt-2" data-toggle="modal" data-target="#example2">Example 2</button>
                <button type="button" class="btn btn-dark mt-2" data-toggle="modal" data-target="#example3">Example 3</button>
            </div>

            <div class="col-6">
                <h4>Parsing the resulting grammar</h4>
                <div>
                    <p>Start symbol:</p>
                    <p id="startSymbol"></p>
                </div>
                <div class="d-flex flex-row">
                    <div class="card mb-3 mr-3" style="max-width: 18rem;">
                        <div class="card-header">Grammar</div>
                        <div class="card-body" id="grammar">
                        </div>
                    </div>
                    <div class="card mb-3 mr-3" style="max-width: 18rem;">
                        <div class="card-header">Terminals</div>
                        <div class="card-body" id="terminals">
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                        <div class="card-header">Not terminals</div>
                        <div class="card-body" id="noTerminals">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4>Deletion of left recursion</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr class="card-header">
                        <td>Gramma</td>
                        <td>First</td>
                        <td>Follow</td>
                    </tr>
                    </thead>
                    <tbody id="leftRecursionDeletion">
                    <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h4>Table M</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr id="mTable">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-6">
                <h4>Input sequence</h4>
                <div class="container">
                    <div class="row">
                        <input type="email" class="form-control col-9 mr-1" id="inputSequence" placeholder="Sequence"/>
                        <button type="button" class="btn btn-dark col-2" id="inputSequenceButton" data-toggle="modal" data-target="#error">Check</button>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Input sequence: <span id="inputSequenceId"></span></p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="card mb-3 mr-3" style="max-width: 18rem;">
                            <div class="card-header">States</div>
                            <div class="card-body" id="state">
                            </div>
                        </div>
                        <div class="card mb-3 mr-3" style="max-width: 18rem;">
                            <div class="card-header">Sequence</div>
                            <div class="card-body" id="sequence">
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 18rem;">
                            <div class="card-header">Transition</div>
                            <div class="card-body" id="transition">
                            </div>
                        </div>
                    </div>
                    <p id="algorithmId"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="example1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Example of entered data</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                S->Ty<br/>
                T->AB<br/>
                T->sT<br/>
                A->aA<br/>
                A-><span data-toggle="tooltip" title="Some tooltip text!">&</span><br/>
                B->bB<br/>
                B->&<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="example2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Example of entered data</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                A->AaB<br/>
                A->B<br/>
                B->BkC<br/>
                B->C<br/>
                C->y<br/>
                C->xC<br/>
                C->nDi<br/>
                D->&<br/>
                D->oAz<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="example3">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Example of entered data</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                E->TE'<br/>
                E'->+TE'<br/>
                E'->e<br/>
                T->FT'<br/>
                T'->*FT'<br/>
                T'->&<br/>
                F->i<br/>
                F->(E)<br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="error">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="errorBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>