*
{
    margin: 0;
    padding: 0;
}

body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear
{
    clear: both;
}

.header_background
{
    background-color: #f5f7fa;
    padding: 10px;
    height: 125px;
}

.header_title
{
    margin: 0 auto;
}

.title_name
{
    font: 900 50px "Lato", sans-serif;
    text-align: center;
    color: #506a85;
    text-transform: uppercase;
}

.button_block
{
    margin: 10px;
    float: left;
    width: 130px;
}

.option_button
{
    margin: 10px;
    float: right;
    width: 130px;
}

.style_button
{
    padding: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font: bold 18px "Source Sans Pro", sans-serif;
    background: #00bc9c;
    text-align: center;
    border-radius: 3px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #00a085;
    cursor: pointer;
}

#canvasDiv
{
    position: relative;
    margin: 10px auto;
    border: 2px solid #00a085;
    width: 98%;
    height: 790px;
    overflow: scroll;
}

#input_block
{
    height: 20px;
    width: 200px;
    font: bold 18px "Source Sans Pro", sans-serif;
    border: 1px solid #cecece;
    background: #f5f7fa;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    top: 0;
    left: 0;
}

.mouse_move
{
    cursor: move;
}

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    background-color: rgba(242, 245, 247, 0.9);
    visibility: hidden;
    transition: all 0.2s;
}

.modal_dialog
{
    position: relative;
    top: 50px;
    max-width: 970px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.modal_close
{
    width: 25px;
    height: 26px;
    float: right;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-image: url(../images/button_close.png);
    border: 0;
    margin-top: 32px;
    margin-right: 29px;
    cursor: pointer;
}

.modal_content
{
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 9px 13px 57px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.6);
    opacity: 0;
    transform-origin: top;
    transition: all 0.2s;
}

.open_modal_content
{
    opacity: 1;
    transform: scale(1);
}

.open_modal_window
{
    display: block;
    visibility: visible;
    transform: translateY(0);
}

.information_box
{
    width: 80%;
    margin: 20px auto;
}

li
{
    list-style-type: none;
    color: #506a85;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

@media screen and (min-width: 480px)
{
    .modal_dialog
    {
        top: 50px;
    }
}

@media screen and (max-width: 600px)
{
    .header_background
    {
        height: 230px;
    }

    .option_button, .button_block
    {
        float: none;
    }

    .title_name
    {
        font: 900 40px "Lato", sans-serif;
    }
}

.modal_title
{
    opacity: 1;
    padding-top: 32px;
    text-align: center;
    font-size: 44px;
    color: #506a85;
    font-family: "Lato", sans-serif;
    width: 88%;
    margin: 0 auto;
    font-weight: bold;
}

.input_save
{
    width: 100%;
    font: bold 18px "Source Sans Pro", sans-serif;
    border: 1px solid #cecece;
    background: #f5f7fa;
}

.input_save_block
{
    width: 50%;
    margin: 30px auto;
}

.button_modal_save,
.button_modal_load
{
    margin: 20px auto;
    width: 65px;
}

.theme_box
{
    width: 50%;
    margin: 20px auto;
}

.theme_name
{
    font: 900 20px "Lato", sans-serif;
    text-align: center;
    color: #506a85;
}

.theme_images
{
    width: 100%;
    padding: 10px;
}

.choose_file
{
    width: 240px;
    margin: 50px auto;
}

input:focus
{
    outline: none;
}

