@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        <p><textarea name="message"></textarea></p>
        <select name="location">
            <option value="ru">RU</option>
            <option value="eu">EU</option>
            <option value="us">US</option>
        </select>
        <input type="submit">
    </form>
    
    
    <form method="post">
        <p><input name="message"></input></p>
        <input type="submit">
    </form>
</div>